# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/

# production
/build

# testing
/coverage
/playwright-report
/test-results

# misc
.DS_Store
*.pem
*.log

# env
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# playwright
/playwright-report
/test-results
results*.json
